/*
Custom Css
*/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,500;1,400;1,500&display=swap');

h2 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}
.block {
  display: none;
}
.product-item{
  padding-left: 0;
}

.link-brand {
  color: #000;
  font-size: 1.5rem;
  font-weight: 330;
  text-decoration: none;
  padding: 0 1rem;
}

.link-brand:hover {
  text-decoration: none;
}

.image-size {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.img-banner{
  max-width: 80%;
}

/* BannerZoomOut */

.columnBanner#zoomIn img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.6s ease-in-out;
}
.columnBanner#zoomIn:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.Collection-brand {
  text-transform: uppercase;
}

/* ImageBrandCollection */
.column {
	display: inline-block;
	text-align: center;
}

figure {
	overflow: hidden;
}

a p {
	color: black;
	margin-top: 8px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}

.column img {
	display: block;
	width: 100%;
	height: 300px;
}

/* CSS Image Hover. Created refering to Naoya's Pen: https://codepen.io/nxworld/pen/ZYNOBZ */
/*Sepia*/
.column#sepia img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#sepia:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}

/*GrayScale*/
.column#grayscale img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#grayscale:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/*Zoom In*/
.columnCollect#zoomIn1 img {
	-webkit-transform: scale(1);
	transform: scale(1);
  width: 600px;
  height: 500px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.columnCollect#zoomIn1:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.lang-image {
  width: 50px;
  height: 20px;
  object-fit: cover;
}
select {
  border: 2px solid rgb(235, 234, 234);
  border-radius: 5px;
  padding: 5px;
}
select#gender option[value='kh-KM'] {
  padding: 10px;
}
select#lang option[value='en-US'] {
  padding: 10px;
  /* background-image: url(https://www.erasmustrainingcourses.com/uploads/6/5/6/3/65630323/flag-of-england-english-flag-pictures-clipart-best-vr0swm-clipart_21.png); */
}

.cart-gif {
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.thanks {
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
}

/* custome btn dark light */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 22px;
  width: 40px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(20px);
}

/* Set dark light attribute */

:root {
  --primary-background: #edf2fc;
  --secondary-color: #212121;
}
.back-dark {
  --primary-background: #082032;
  --secondary-color: #fff;
}

.back-light {
  background-color: var(--primary-background);
}
.icon-hearth {
  margin: 0 10px;
  padding: 3px 5px;
}
.icon-hearth:hover {
  background: #acacac;
  opacity: 0.7;
  border-radius: 50%;
  padding: 3px 5px;
}

.fa-moon {
  color: #f1c40f;
  font-size: 0.8rem;
}

.fa-sun {
  color: #f39c12;
  font-size: 0.8rem;
}

.text-color {
  color: var(--secondary-color);
}

/* End dark light */

@media screen and (max-width: 575px) {
  .image-size {
    width: 80%;
  }
  .product-item {
    padding: 0 5rem;
  }
}

.cart-main {
  margin: 2rem;
  /* background-color: rgba(0, 0, 0, 0.03); */
}

.status {
  font-size: 1.5rem;
  font-family: serif;
  font-weight: 700;
}
.price {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: serif;
}

.puchesh {
  background: rgb(246, 245, 245);
  padding: 10px;
  border-radius: 5px;
}

/* add to cart */
.btn-add-to-cart {
  transform: scale(1);
}
/* header section */
#header {
  background-color: #fff;
}

/* profile section */

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  left: -160px;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  
}

.img-profile {
  width: 25%;
  object-fit: cover;
  height: 40px;
}

.img-profile1 {
  width: 35%;
  object-fit: cover;
  height: 100px;
}
.email {
  font-size: 0.8rem;
  margin-left: 20px;
}

/* input spinner */
.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
/* div {
  text-align: center;
} */
.minus:hover {
  background-color: #717fe0 !important;
}
.plus:hover {
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
.spinner {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}

.sec-border {
  border: 1px solid #bcc0c4;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
}
.sec-border-checkout {
  border: 1px solid #bcc0c4;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.03);
}

.border-shadow {
  box-shadow: 0 0.2rem 0.9rem rgb(0 0 0 / 10%);
  border: 1px solid #acacacac;
}

.fw-bold {
  font-weight: 600;
}

.price-single {
  font-size: 5rem;
  padding: 0.4rem;
}

/* dropdown-search */

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 100%;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  /* width: 100%; */
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.back_btn:hover {
  transform: scale(1.1);
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: none;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: initial;
}

/* preloading */
.loader {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg);
  background-position: top center;
  background-color: #edf2fc;
  background-repeat: no-repeat;
  background-size: 5%;
}
.loading {
  position: relative;
}
.paypal-btn {
  display: none;
}

/* Profile Custom */
.pic-file {
  position: absolute;
  top: -10px;
  left: 42%;
  width: 150px;
  height: 150px;
  /* border: 1px solid #ccc; */
  border-radius: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.iput_upload {
  width: 100px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
  border-radius: 100%;
  position: relative;
}
.profile_user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 1;
  cursor: pointer;
  position: relative;
  border-radius: 100%;
}
.profile_user:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.icon-upload {
  font-size: 30px;
  position: absolute;
  opacity: 0;
  /* opacity: 0; */
  top: 30px;
  left: 35px;
  /* opacity: 0; */
}
.icon-upload:hover {
  opacity: 1;
}
.image-profile {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 100%;
}
/*  */
.categories_img {
  width: 260px;
  height: 260px;
  object-fit: cover;
}
#map {
  height: 100%;
}

/* animation swup */

.transition-fade {
  opacity: 1;
  transition: 0.4s;
}
html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(-100px);
}

.ribbon-wrapper {
  width: 88px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 1;
}
.ribbon-tag {
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 2px 0;
  left: -4px;
  top: 15px;
  width: 120px;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  background: #be1717;
}

.ribbon-tag:before,
.ribbon-tag:after {
  content: '';
  border-top: 3px solid #50504f;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
.ribbon-tag:before {
  left: 0;
}
.ribbon-tag:after {
  right: 0;
}



/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* Menu Dropdown */
/* page style */
a, a:focus, a:active, a:hover, object, embed { outline: none; text-decoration: none; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }
:focus { outline: 0; }

.dropdown {
  padding: 0 10px;
}
.dropdown a {
  text-decoration: none;
}
/* MEGA MENU STYLE
********************************/ 
.mega-menu {
	padding: 5px 0px ! important;
	width: 640px;
  background-color: #edf2fc;
  border-radius: 0;
  margin-top: 0px;
	}

	.mega-menu li {
		display: inline-block;
		float: left;
		font-size: 1rem;
		padding: 3px 0px;
		}

		.mega-menu li.mega-menu-column {
			/* margin-right: 20px; */
			width: 200px;
			}
      .mega-menu li.mega-menu-column li{
        clear: both;
      list-style-type: none;
      }
			.mega-menu .nav-header {
			padding: 15px !important;
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid #ddd;
			}

/* Disable Toggle style
********************************/  

/* Dropdown Toggle on style */
.a-title{
  font-size: 1rem;
  font-weight: 500;
}
.icon-menu i{
  font-size: 1.5rem;
  margin: 0 20px;
  padding: 0 20px;
}
.icon-menu i:hover{
  color: #acacac;
}
a svg:hover{
  fill: #acacac;
}

#lang-form{
  margin: 0 20px;
}
.navbar1 .nav li.dropdown.open > .dropdown-toggle, 
.navbar1 .nav li.dropdown.active > .dropdown-toggle, 
.navbar1 .nav li.dropdown.open.active > .dropdown-toggle {
    background: inherit; /* Set to inherit when using mouse hover to open dropdown */
    color: inherit;
    }   
    /* Toggle off style */
    .navbar1 .nav li.dropdown.open.active > .dropdown-toggle,
    .navbar1 .nav > li.dropdown > a:focus { 
    background: inherit;
    color: inherit;
    }
    /* Toggle hover */
    .navbar1 .nav li.dropdown > .dropdown-toggle:hover,
    .navbar1 .nav li.dropdown.open > .dropdown-toggle:hover {
    background-color: #DDDDDD;
    }
    
    /* Toggle caret*/
    .navbar1 .nav li.dropdown > .dropdown-toggle .caret {
      border-bottom-color: #333;
      border-top-color: #333;
        }
        /* Toggle caret hover */
        .navbar1 .nav li.dropdown > a:hover .caret, 
        .navbar1 .nav li.dropdown > a:focus .caret {
        border-bottom-color: #333;
        border-top-color: #333;
        }
        /* Toggle caret active */
        .navbar1 .nav li.dropdown.open > .dropdown-toggle .caret, 
        .navbar1 .nav li.dropdown.active > .dropdown-toggle .caret, 
        .navbar1 .nav li.dropdown.open.active > .dropdown-toggle .caret {
        border-bottom-color:#333;
        border-top-color: #333;
        }



/* Hover style
********************************/ 
.navbar1 .nav > li > a, .mega-menu a
 { 
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease; 
	
		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
}	


/* Pagination Custom */

.pagination{
  text-align: center;
  justify-content: center;
}

.page-item { 
  
}
.page-item a {
  align-items: center;
  margin: 0 2px;
  padding: 9px 15px;
  text-decoration: none;
	color: #000;
}