header h2 {
    font-size: 24px;
    font-weight: 600;
  }
  header p {
    margin-top: 5px;
    font-size: 16px;
  }
  .price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 0px;
    text-align: center;
    border: 1px solid #acacac;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #000;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #000;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #000;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }

  /* Sort-Item */
  .Sort{
    background-color: #e3e9f5;
    margin: 20px 0px;
  }
.Sort-section{
  margin: 20px 0;
}
  .sort-item{
    width: 100px;
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* STORIES */
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,500;1,400;1,500&display=swap');
  .title-man{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #222222;
    font-size: 'Open Sans', sans-serif;
  }
  hr{
    color: #acacac;
  }
  .stories {
    margin: 20px 0;
   }
   .stories .user-img {
    border: 4px solid #e2b96c;
   }
   .side-title {
    font-family: 'Open Sans', sans-serif;
    color: #5c5e6e;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
   }
  .user {
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    cursor: pointer;
   }
   
   .user + .user {
    margin-top: 18px;
   }
   
   .user-img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
   }
   
   .username {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
   }